@import "../base/variable";
@import "../base/mixin";

.current-stage {
    margin-top: 12px;
    padding: 16px;

    @include white-board;

    &__comment {
        padding-top: 14px;
        margin-top: 16px;

        border-top: 1px solid $divider-color;
    }


    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        border-bottom: $divider-bottom;
        padding-bottom: 8px;

        &--stage--count {
            display: flex;
            align-items: center;
        }

        &--stage--title {
            padding-right: 8px;

           @include title
        }

        &--all {
            @include text-gray
        }
    }

    &__content {
        margin-top: 16px;

        &--wrapper {
            display: flex;
            align-items: center;
            justify-content: space-around
        }

        &--items {
            margin-left: 26px;

            .status-item:not(:last-child) {
                padding-bottom: 8px;

                border-bottom: $divider-bottom;
            }

            .status-item:not(:first-child) {
                padding-top: 8px;
            }
        }
    }
}