@import '../base/variable';
@import '../base/mixin';

.modal {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 4;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    transition: 0.5s;

    opacity: 0;

    pointer-events: none;

    background-color: rgba(0,0,0,0.4);

    &.active {
        opacity: 1;

        pointer-events: all;
    }

    &__content {
        width: 360px;
        height: 200px;

        padding: 24px 20px;

        transition: .5s;
        transform: scale(.5);

        background-color: white;
        border-radius: 12px;

        &.active {
            transform: scale(1);

            z-index: 10000;
        }
    }
}



.popover {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 100vw;
    height: 100vh;

    transition: .5s;

    opacity: 0;

    pointer-events: none;

    background-color: rgba(0,0,0,0.4);

    &.active {
        opacity: 1;

        pointer-events: all;
    }

    &__content {
        width: 100vw;
        height: 500px;

        padding: 14px 20px;
        margin-bottom: 50px;

        transition: .5s;
        transform: scale(.9) translateY(600px);

        background-color: white;
        border-radius: 12px 12px 0 0;

        &.active {
            transform: scale(1);
        }
    }
}

.profile__popover {
    display: flex;
    justify-content: center;

    flex-direction: column;

    &--center {
        align-items: center;
    }
}

.popover__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: $black-color;

    &--success {
        margin-top: 26px;

        text-align: center;
    }
}

.popover__subtitle {
    margin-top: 6px;

    @include text-gray;
}

.popover__button {
    width: 100%;

    text-align: center;

    @include button-orange-big;

    &--success {
        margin-top: 31px;
    }

    &--find {
        margin-top: 12px;
    }

}

.popover__input {
    margin-top: 20px;
    width: 100%;

    @include input;

    &::placeholder {
        text-align: left;
    }
}

.popover__result {
    height: 300px;

    padding-top: 24px;

    overflow-y: scroll;
}