@import '../base/variable';
@import '../base/mixin';

.create-workout {
    padding: 20px;
    margin-bottom: 75px;

    &__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        margin-bottom: 12px;

        &--title {
            @include title;
        }

        &--count {
            @include text-gray;
        }
    }

    &__content {
        padding: 12px 16px;

        overflow-x: scroll;

        @include white-board;

        &::-webkit-scrollbar {
            display: none;
        }

        &--title {
            margin-bottom: 12px;

            @include text-gray;
        }

        &--button {
            width: 100%;

            margin-bottom: 8px;

            @include button-orange-big-outline;
        }

        &-wrapper-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 12px;

            &-comment {
                flex-direction: column;

                textarea {
                    width: 100%;

                    margin-bottom: 12px;
                    margin-top: 4px;

                    @include input;
                }
            }

            &--input {
                width: 130px;

                text-align: center;

                @include input;

                &-small {
                    width: 59px;

                    &:not(:last-child) {
                        margin-right: 12px;
                    }
                }
            }

            .form_radio_btn {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 12px;
                }
            }

            .form_radio_btn input[type=radio] {
                display: none;
            }

            .form_radio_btn label {
                display: inline-block;

                width: 59px;

                cursor: pointer;

                padding: 10px;

                border: 1px solid #DDDDDD;
                border-radius: 6px;

                user-select: none;

                font-weight: 500;
                font-size: 14px;
                line-height: 16px;

                color: $gray-color;

                text-align: center;
            }

            /* Checked */
            .form_radio_btn input[type=radio]:checked + label {
                background: $primary-light;
                border-color: $primary-light;
                color: $primary;
            }
        }
    }

    &__cards {
        margin-top: 12px;
        margin-bottom: 60px;
    }

    &__footer {

        &--button {
            position: fixed;
            bottom: 90px;

            width: calc(100vw - 40px);

            @include button-orange-big;
        }
    }

    .custom-checkbox--create+label {
        margin-bottom: 12px;
    }
}

.create-workout--modal {
    .modal__content-create {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        margin-top: 14px;

        &--primary {
            width: 100%;
            @include button-orange;
        }

        &--secondary {
            width: 100%;

            margin-top: 12px;

            @include button-orange-inline
        }
    }

    .modal__content {
        height: 160px;
    }

}

.create-workout__content {
    table {
        border-collapse: collapse;
        width: 100%;
    }

    tr th {
        font-size: 18px;
        padding: 12px;
        border: 1px solid #eeeeee;
        text-align: left;
        background-color: rgba(217, 221, 146, 0.2);
    }

    .input-comment {
        width: 400px;
    }

}
