@import '../base/variable';
@import '../base/mixin';

.create-workout {
    padding: 20px;
    margin-bottom: 120px;

    &__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        margin-bottom: 12px;

        &--title {
            @include title;
        }

        &--count {
            @include text-gray;
        }
    }

    &__content {
        overflow-x: scroll;

        @include white-board;

        &::-webkit-scrollbar {
            display: none;
        }

        &--title {
            margin-bottom: 12px;

            @include text-gray;
        }

        &--button {
            width: 100%;

            margin-bottom: 8px;

            @include button-orange-big-outline;
        }

        &-wrapper-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 12px;

            &-comment {
                flex-direction: column;

                textarea {
                    width: 100%;

                    margin-bottom: 12px;
                    margin-top: 4px;

                    @include input;
                }
            }

            &--input {
                width: 75px;

                text-align: center;

                @include input;

                padding: 8px;

                border-radius: 0;
                border: none;
                border-bottom: 1px solid $gray-light-color;

                &-small {
                    width: 59px;

                    &:not(:last-child) {
                        margin-right: 12px;
                    }
                }

                &::placeholder {
                    font-size: 12px;
                }
            }

            .form_radio_btn {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 12px;
                }
            }

            .form_radio_btn input[type=radio] {
                display: none;
            }

            .form_radio_btn label {
                display: inline-block;

                width: 59px;

                cursor: pointer;

                padding: 10px;

                border: 1px solid #DDDDDD;
                border-radius: 6px;

                user-select: none;

                font-weight: 500;
                font-size: 14px;
                line-height: 16px;

                color: $gray-color;

                text-align: center;
            }

            /* Checked */
            .form_radio_btn input[type=radio]:checked + label {
                background: $primary-light;
                border-color: $primary-light;
                color: $primary;
            }
        }
    }

    &__cards {
        margin-top: 12px;
        margin-bottom: 60px;
    }

    &__footer {

        &--button {
            position: fixed;
            bottom: 80px;
            left: 20px;

            width: calc(100vw - 40px);

            @include button-orange-big;
        }
    }

    .custom-checkbox--create+label {
        margin-bottom: 12px;
    }
}

.create-workout--modal {
    .modal__content-create {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        margin-top: 14px;

        &--primary {
            width: 100%;
            @include button-orange;
        }

        &--secondary {
            width: 100%;

            margin-top: 12px;

            @include button-orange-inline
        }
    }

    .modal__content {
        height: 160px;

        z-index: 300;
    }

}

.create-workout__content {
    table {
        border-collapse: collapse;
        width: 100%;
    }

    tr th {
        font-size: 14px;
        padding: 8px;
        border: 1px solid #eeeeee;
        text-align: left;
        background-color: $primary-light;
        color: $primary;
    }

    th {
        text-align: center !important;
    }

    .input-comment {
        width: 300px;

        margin-top: 2px;

        font-size: 14px;
    }

    .table__fix {
        position: sticky;
        left: 0;

        background-color: white;
    }

    .input-number {
        width: 40px;

        background: inherit;
        border: none;

        text-align: center;
    }

    .table-img {
        height: 36px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custom-checkbox + label::before {
        width: 22px;
        height: 22px;
    }


    .form_radio_btn {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    .form_radio_btn input {
        display: none;
    }

    .form_radio_btn label {
        display: inline-block;

        width: 59px;

        cursor: pointer;

        padding: 10px;

        border: none;
        border-bottom: 1px solid #DDDDDD;

        user-select: none;

        font-weight: 500;
        font-size: 14px;
        line-height: 15px;

        color: $gray-color;

        text-align: center;
    }

    /* Checked */
    .form_radio_btn input:checked + label {
        background: $primary-light;
        color: $primary;
    }

}


.create-workout__content--button-add {
    margin-top: 12px;
}

.create-workout--modal-small .modal__content {
    height: 110px;
}

.input-min {
    width: 34px;

    padding: 8px 3px;
}

.input-three {
    width: 42px;

    padding: 8px 5px;
}

.table__fix {
    display: flex;
    align-items: center;

    height: 36px;

    .input-number {
        width: 10px;
        margin-left: 4px;
    }
}

.border {
    border-left: 1px solid $primary-light;
}