@import '../base/variable';
@import '../base/mixin';

.login {
    padding: 20px;

    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;

        padding: 16px;

        @include white-board;
    }

    &__title {
        margin-bottom: 12px;

        @include title
    }

    &__input {
        width: 100%;

        margin-bottom: 12px;

        @include input;

       &::placeholder {
           text-align: left;
       }
    }

    &__button {
        width: 100%;

        margin-top: 12px;

        @include button-orange;
    }

    a {
        margin-top: 12px;

        color: $gray-color;

        font-size: 14px;

        text-decoration: none;
        text-align: center;
    }
}