@import '../base/variable';
@import '../base/mixin';

.login {
    padding: 20px;

    &__container {
        display: flex;
        align-items: center;

        padding: 16px;

        @include white-board;
    }

    &__title {
        margin-bottom: 12px;

        @include title
    }

    &__input {
        width: 100%;

        @include input;
    }

    &__button {
        margin-left: 12px;

        @include button-orange;
    }
}