@import '../base/_variable.scss';
@import '../base/mixin';

main {
    padding: 0 20px;
}

.progressBar {
    width: 100%;

    & > div {
        height: 14px !important;

        div {
            height: 14px !important;

            span {
                position: relative;
                top: 0;

                font-size: 12px !important;
            }
        }
    }
}

.video {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
    height: auto;

    z-index: 1000;
}

.progress-container {
    display: flex;
    flex-direction: column;

    margin-top: 12px;
    padding: 8px 16px;

    @include white-board;

    &--header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 8px;

        p {
            @include text-gray;
        }
    }
}

.next-state {
    margin-top: 12px;
    margin-bottom: 150px;
}


.modal {
    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;

        color: $black-color;
    }

    &__subtitle {
        margin-top:12px;
        line-height: 1.3;

    }

    &__content-buttons {
        height: 90%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;

        &--secondary {
            display: block;

            padding: 14px 20px;

            @include button-orange-inline;
        }

        &--primary {
            display: block;

            @include button-orange;
        }
    }
}
