@import '../base/variable';
@import '../base/mixin';

.profile {
    padding: 20px;

    &__title {
        @include title;

        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    &__subtitle {
        @include text-gray;

        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }

    &__user {
        padding: 16px;

        @include white-board;

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
                    }

        &-container:not(:last-child) {
            border-bottom: $divider-bottom;

            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        &-main {
            display: flex;
            align-items: center;
        }
    }

    &__user:not(:last-child) {
        margin-bottom: 12px;
    }

    .user {
        &__left {
            padding-right: 12px;
        }

        &__avatar {
            width: 60px;
            height: 60px;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 50%;
            border: 1px solid $primary;
            color: $primary;
            background-color: $primary-light;

            font-weight: 600;
            font-size: 32px;
            line-height: 38px;

        }
    }

    .profile__popover {
        display: flex;
        justify-content: center;

        flex-direction: column;

        &--center {
            align-items: center;
        }
    }

    .popover__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;

        color: $black-color;

        &--success {
            margin-top: 26px;

            text-align: center;
        }
    }

    .popover__subtitle {
        margin-top: 6px;

        @include text-gray;
    }

    .popover__button {
        width: 100%;

        text-align: center;

        @include button-orange-big;

        &--success {
            margin-top: 31px;
        }

        &--find {
            margin-top: 12px;
        }

    }

    .popover__input {
        margin-top: 20px;

        @include input;

        &::placeholder {
            text-align: left;
        }
    }

    .popover__result {
        height: 300px;

        padding-top: 24px;

        overflow-y: scroll;
    }
}