.u-margin-top-xs {
    margin-top: 4px;
}

.u-margin-top-s {
    margin-top: 8px;
}

.u-margin-top-m {
    margin-top: 12px;
}

.u-margin-top-l {
    margin-top: 16px;
}

.u-margin-top-xl {
    margin-top: 20px;
}